## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
nupkg/

## Visual Studio / Rider
.vs/
*.user
*.suo
*.DotSettings.user
.idea/

## NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

## OS
Thumbs.db
.DS_Store